/* .header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.food_logo {
  width: 100px;
}

.nav_items > ul {
  display: flex;
  align-items: center;
}
.nav_items > ul > li {
  list-style-type: None;
  padding-left: 10px;
  margin: 10px;
}
.searchbar {
  justify-items: center;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 40px;
  display: flex;
  padding: 5px;
}
.card:hover {
  cursor: pointer;
  padding: 5px;
  border: 1px solid black;
}

.res_card {
  cursor: pointer;
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 170px;
  height: 230px;
  border: 1px solid rgb(248, 244, 244);
  padding: 5px;
}
.restaurant {
  display: flex;
  flex-wrap: wrap;
}

.food_item {
  width: 170px;
  height: 120px;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-div {
  cursor: pointer;
  width: 170px;
  height: 230px;
  border: 1px solid black;
  padding: 5px;
  background-color: #b0acac;
  list-style-type: None;
  padding-left: 10px;
  margin: 10px;
}

.login-bnt {
  cursor: pointer;
}

.custom-link {
  text-decoration: none; 
  color: #333;
  font-weight: bold; 
}

.custom-link:hover {
  color: #007bff; 
} */
@tailwind base;
@tailwind components;
@tailwind utilities;
